body {

    background-color: lightgray;


}

#BAJA {

    background-color: green;

}


#MEDIA {

    background-color: orange;

}

#ALTA {

    background-color: red;

}

legend {

    font-size: 30px;

}

fieldset {

    padding-top: 20px;
    border: black 3px solid;
    border-radius: 10px;

}

div {

    border: black 3px solid;
    border-radius: 10px;
    margin-top: 15px;
    
}

h2 {

    text-align: center;

}

li {

    margin: 5px;
    border-radius: 5px;

}

#elimina {

    margin-left: 20px;
    font-weight: bold;

}

